@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Marck+Script);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Proxima+Nova);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);


html, body { height: 100%;
    width: 100%; margin: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    }


  .navigation-bar{
    /* background: #3db2e1; */
    font-family: Noto San JP, sans-serif;
    font-weight: bolder;
    list-style-type: none;
    position: fixed;
    overflow: hidden;
    color:#707070;
    width: 100%;
    height: 80px;
    text-align: right;
    background-color: #Ed7B7B;
  }

  .navigation-bar li{
    display: inline-block;
    margin: 15px 20px 0 0;
  }

  .navigation-bar ul{
    padding-inline-start: 10px;
  }

  .navigation-bar a {
    color:white;
    text-transform: uppercase;
    padding: 16px 20px;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size: 1.0vw;
    overflow: hidden;
    text-decoration: none;
    transition-duration: 500ms;
    font-weight: normal;
  }

  .navigation-bar a:hover, .logo a:hover {
      color: black;
      font-size: 20px;
      text-decoration: inherit;
}

   @media screen and (max-width: 1320px){
        header{
          background: #ffffff;
          background-attachment: fixed;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
          text-align: right;
        }
      
        .navigation-bar li{
          width: 100%;
          display: block;
          text-align: left;
          margin-top: 10px;
          padding: 0px;
        }
      
        .navigation-bar ul{
          padding-inline-start: 10px;
        }
      
        .navigation-bar a {
          color: white;
          text-transform: uppercase;
          padding: 16px 20px;
          letter-spacing: 1px;
          border-radius: 3px;
          font-size: 1.5vw;
          overflow: hidden;
          text-decoration: none;
          transition-duration: 500ms;
        }
      
          .navigation-bar a:hover, .logo a:hover {
            color: white;
            font-size: 1.8vw;
            text-decoration: inherit;
          }
    }

.logo{
  height: 80%;
  width: auto;
}
.search-bar{
    position: relative;
    top: 5%;
    margin: -5px auto;
    /* -height/2 */
    width: 600px;
    height: 600px;
}

#myForm{
    position: relative;
    text-align: center;
    top: 40%;
}

.bar{
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    display: flex;
    flex-direction: row;
}

.bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }

.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}
  
.search{
    height:35px;
    border:none;
    width:500px;
    font-size:15px;
    outline: none;
    margin-left: 17px;
}

  .voice{
    height:22px;
    position:relative;
    top:8px;
    left:14px;
    filter: hue-rotate(340deg);
  }

  .button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:15px;
    border-radius:4px;
    outline:none;
  }
  .button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
  }
  .button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }

  .custom-select{
    margin-top:70px;
    margin-left: 47.5%;
    height: 30px;
    width: 100px;
  }

  .select-css{
    margin-left: 48%;
    margin-top: 70px;
    height: 30px;
    width: 120px;
    border-radius: 30px;
  }

  .section{
    text-align: center;
  }

  .heat-map-button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:15px 15px 15px 45.5%;
    border-radius:4px;
    outline:none;
  }
  .heat-map-button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
  }
  .heat-map-button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }


