<!DOCTYPE html>
<html>
<head>
    <meta charset="UFT-8">
    <title>COVID Risk Calculator</title>
    <link rel="stylesheet" href="../static/main.css">
    <script type="text/javascript" src="../main.js"></script> 
</head>  
<body>
    <nav class="navigation-bar">
        <ul>
          <li><a class="nav" href="index.html#home">Home</a></li>
          <li><a href="index.html#about" class="about-link nav">About</a></li>
          <li><a href="index.html#contact" class="contact nav">Contact</a></li>
        </ul>
    </nav>

    <form id='myForm'>
        <label for="location">Enter your location:</label><br>
            <input type="text" id="location" name="location" placeholder="27 King's College Cir, Toronto, ON M5S"><br>
        <a href='#' id=process_input> <button id="submit_button" class="submit_button" type="submit">Search</button></a>
    </form>












</body>
</html>